<div class="row my-4">
    <div class="col-md-4 mb-3 mb-sm-0 text-center">
        <h3>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'pt-BR' }}
        </h3>
    </div>

    <div class="col-md-4">
        <div class="btn-toolbar justify-content-center justify-content-sm-end" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-purple" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeActiveDay()">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-outline-purple" mwlCalendarToday [(viewDate)]="viewDate">
                    <i class="fa-solid fa-calendar-check"></i>
                </button>
                <button type="button" class="btn btn-outline-purple" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeActiveDay()">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #customHeaderTemplate let-days="days">
  <div class="calendar-header row">
    <div class="col text-center" *ngFor="let day of days">
      <span>{{ day.date | date:'EEEE':'':'pt-BR' }}</span>
      <br>
      <span>{{ day.date | date:'dd/MM' }}</span>
      <br>
      <button class="btn btn-sm btn-primary mt-2" (click)="alert(day)">
        Trocar
      </button>
    </div>
  </div>
</ng-template>
<div [ngSwitch]="view">
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [dayStartHour]="6"
        [dayEndHour]="23"
        (beforeViewRender)="onBeforeRenderWeek($event)"        
        [weekStartsOn]="1"
        [headerTemplate]="customHeaderTemplate"
        >
    </mwl-calendar-week-view>
</div>

<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-black">{{modalData.schedule.title}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <p>Data: <span>{{modalData.schedule.date | date:'dd/MM/yyyy'}}</span></p>
        <p>Horário: <span>{{modalData.schedule.initTime}} ~ {{modalData.schedule.endTime}}</span></p>
        <p *ngIf="modalData.schedule.description">Descrição: <span>{{modalData.schedule.description}}</span></p>
    </div>
</ng-template>